button{
    background-color: rgb(0, 186, 243);
    width: 100px;
    height: 70px;
    margin: 100px;
    position: absolute;
    text-align: center;
}

h1{
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: center;
    
}

#prediction{
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}